{% extends 'padre.html' %}

{% load static %}

{% block contenidoCambia %}

<h1>Obras sociales afiliadas</h1>
    {% if user.is_staff %}
        <div><a href="{% url 'AgregarOS' %}" class="btn btn-outline-primary" id="submitButton" type="submit">Agregar</a></div>
    {% endif %}
    <div><a href="{% url 'BuscarOS' %}" class="btn btn-outline-primary" id="submitButton" type="submit">Buscar</a></div>
    
<ul>
    {% if obras_sociales %}
        {% for i in obras_sociales %}
            <li>
                {{i}}
            </li>
            {% if user.is_staff %}
                <div>
                    <button>
                        <a href="{% url 'DetalleOS' i.id %}">Ver</a>
                    </button>
                    <button>
                        <a href="{% url 'EditarOS' i.id %}">Editar</a>
                    </button>
                    <button>
                        <a href="{% url 'EliminarOS' i.id %}">Eliminar</a>
                    </button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
</ul>

{% endblock contenidoCambia %}
