{% extends 'padre.html' %}

{% load static %}

{% block contenidoCambia %}

<h1>Obras sociales afiliadas</h1>

<div><a href="{% url 'AgregarOS' %}" class="btn btn-outline-primary" id="submitButton" type="submit">Agregar</a></div>
<div><a href="{% url 'BuscarOS' %}" class="btn btn-outline-primary" id="submitButton" type="submit">Buscar</a></div>

<ul>
    {% if obras_sociales %}
        {% for i in obras_sociales %}
            <li>
                {{i}}
            </li>
            <div>
                <button>
                    <a href="{% url 'DetalleOS' i.id %}">Ver</a>
                </button>
                <button>
                    <a href="{% url 'EditarOS' i.id %}">Editar</a>
                </button>
                <button>
                    <a href="{% url 'EliminarOS' i.id %}">Eliminar</a>
                </button>
            </div>
        {% endfor %}
    {% endif %}
</ul>

{% endblock contenidoCambia %}
