{% extends 'padre.html' %}

{% load static %}

{% block contenidoCambia %}
 
<h1>Clinica</h1>

        {% if user.is_authenticated %}
            <p>Bienvenido</p>

            <div><a href="{% url 'ListadoOS' %}" class="btn btn-primary" id="submitButton" type="submit">Obra social</a></div>
            <div><a href="{% url 'ListadoEspecialidad' %}" class="btn btn-primary" id="submitButton" type="submit">Especialidades</a></div>
            <div><a href="{% url 'ListadoDoctores' %}" class="btn btn-primary" id="submitButton" type="submit">Doctores</a></div>

            {% if user.is_staff %}
                <div><a href="{% url 'ListadoPaciente' %}" class="btn btn-primary" id="submitButton" type="submit">Pacientes</a></div>
            {% endif%}
        
        {% else %}    
            <div><a href="{% url 'Login' %}" class="btn btn-primary">Iniciar sesion</a></div>
            <div><a href="{% url 'RegistrarPaciente' %}" class="btn btn-primary" id="submitButton" type="submit">Registrar</a></div>
        {% endif %}


{% endblock contenidoCambia %}
