{% extends 'padre.html' %}

{% load static %}

{% block contenidoCambia %}
 
<h1>Integrantes</h1>

<div>
    <h3><li>Angel Lazaro</li></h3>
</div>

<div>
    <h3><li>Bruno Bini</li></h3>
    <ul>
        <p>25 años, tengo conocimientos en redes, manejos de sistema operativo Linux, manejo de equipos Cisco, conocimientos de SQL y un poco de Java.</p>
    </ul>
</div>

<div>
    <h3><li>Brenda Elizabeth Quiroga Castro</li></h3>
    <ul>
        <p>Nacida en San Nicolás de los Arroyos, mi formación académica está más orientada a la informática pero tambíen disfruto de las artes (escritura y pintura).</p>
    </ul>
</div>       


{% endblock contenidoCambia %}