{% extends 'padre.html' %}

{% load static %}

{% block contenidoCambia %}

<h1>Pacientes</h1>

{% if user.is_staff %}
    <div><a href="{% url 'AgregarPaciente' %}" class="btn btn-outline-primary" id="submitButton" type="submit">Agregar</a></div>
{% endif %}

<ul>
    {% if pacientes %}
        {% for i in pacientes %}
            <li>
                {{i}}
            </li>
            {% if user.is_staff %}
                <div>
                    <button>
                        <a href="{% url 'DetallePaciente' i.id %}">Ver</a>
                    </button>
                    <button>
                        <a href="{% url 'EditarPaciente' i.id %}">Editar</a>
                    </button>
                    <button>
                        <a href="{% url 'EliminarPaciente' i.id %}">Eliminar</a>
                    </button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
</ul>

{% endblock contenidoCambia %}
