{% extends 'padre.html' %}

{% load static %}

{% block contenidoCambia %}

<h1>Doctores</h1>

<ul>
    {% if doctores %}
        {% for i in doctores %}
            <li>
                {{i}}
            </li>
            {% if user.is_staff %}
                <div>
                    <button>
                        <a href="{% url 'EliminarDoctor' i.id %}">Eliminar</a>
                    </button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
</ul>

{% endblock contenidoCambia %}
